{# A Mettre dans votre symfony de base  #}
<!DOCTYPE html>
<html>

    <head>
        {{ renderLibs() }}
        <meta charset="UTF-8">
        <meta name="author" content="Philippe.basuyau" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    
        <title>Crypto - 
            {% block title %}Geronimo{% endblock %}
        </title>
        <link rel="icon" type="image/png" href="{{ asset('bundles/crypto/images/LogoImperium/logo50.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {{ renderLibs() }} #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        {% block body %}
            {% if is_granted("ROLE_USER")  %}
                {{ renderNavBar('main') }} 
            {% endif %}
            {% if is_granted("ROLE_USER")  %}
                {{ renderNavBar('sidebar') }} 
            {% endif %}

            {% block sideMenu %}{% endblock %}
            {% block main %}{% endblock %}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>

</html>
