{# Formulaire opération #}
{% extends '@Crypto/default/default.html.twig' %}
{% trans_default_domain("crypto") %}

{% block title %}Crypto - Form Opération{% endblock %}

{% block main %}
    <h1 class="text-center text-light">Form Opération</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
{# {{ form_row(form.date) }} #}

        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
